/*___________________________________________________________________________________________
                                    CSS Reset
_____________________________________________________________________________________________*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*___________________________________________________________________________________________
                                    Mobile First
_____________________________________________________________________________________________*/

html {
	/*Setting the base font size for the website*/
	font-size: 16px;
	/*Setting the font family and type*/
	font-family: 'Open Sans', sans-serif;
	/*Setting the line spacing for the website text*/
	line-height: 2.5rem;
	/*background-color: black;*/
	background-color: black;
}

.container {
	background-color: white;
	/*margin of 0 on the top and bottom and "automatic" on the left and right*/
	margin: 0 auto;
	/*Setting the max and min width of the site*/
	max-width: 760px;
	min-width: 375px;
}

h1 {
	/*setting the font size*/
	font-size: 4em;
	/*setting the font weight*/
	font-weight:bolder;
	/*adding padding*/
	padding: 8px 0;
	/*setting the colour of the text*/
	color: white;
	/*setting the line height for the h1 welcome message*/
	line-height: 1.5em;
	/*Setting the font family and type*/
	font-family: 'Playfair Display', serif;
}

h2 {
	/* setting the font for h2 to bold*/
	font-weight:bolder;
	/*setting the font size*/
	font-size: 3em;
	/*adding padding*/
	padding: 10px;
	/*adding margins to the top*/
	margin-top: 30px;
	/*setting the header in the center of the page*/
	text-align: center;
	/*Setting the font family and type*/
	font-family: 'Gabriela', serif;
}

h3 {
	/*setting the font weight*/
	font-weight: bolder;
	/* setting the font size*/
	font-size: 2em;
	/*adding margins to th top and bottom*/
	margin-top: 20px;
	margin-bottom: 20px;
	/*aligning the text in the center of the container*/
	text-align: center;
	/*Setting the font family and type*/
	font-family: 'Gabriela', serif;
}

h4 {
	/*setting the font weight*/
	font-weight: bold;
	/*setting the font style*/
	font-style: italic;

	text-decoration: overline underline double 5px; 

	margin-top: 40px;
	/* setting the font size*/
	font-size: 1.2em;
	/*aligning the text in the center of the container*/
	text-align: center;
}

.menucheck {
	display: none;
}

nav {
	/*setting the background colour of the nav*/
	background-color: #222;
	/*adding padding*/
	padding: 10px;
	/*Setting the font family and type*/
	font-family: 'Playfair Display', serif;
	font-size: 1.3rem;
}

ul {
	/*removing the bullets of the list*/
	list-style-type: none;
	/*aligning the text in the center of the container*/
	text-align: center;
	/* adding the background colour to the list items*/
	background-color: #222;
	/*resetting margins*/
	margin: 0;
}

li a {
	/*setting the display to block*/
	display: block;
	/* removing text decorations*/
	text-decoration: none;
	/*adding padding*/
	padding: 1em;
	/* setting the colour of the nav text */
	color: white;
}

nav a:hover{
	background-color: #470550;
}

nav a:active{
	background-color: #C481DA;
	animation-name: anim2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

form.search-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
form.search-container input[type=text] {
	/*adding padding*/
	padding: 15px;
	/* adding a border*/
	border: 1px solid gray;
	/* setting the background*/
	background: white;

	position: relative;
	border-radius: 25px;
	display: flex;
	width: 100%;
}

form.search-container button {
background-color: #470550;
width: 50px;
height:50px;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
	/* setting the colour of the icon gold*/
	color: white;
	/* changing the cursor into a pointer when cursor hovers over the button*/
	cursor: pointer;
}

form.search-container button:hover {
	animation-name: anim1;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate; 
}

form.search-container button:active {
	animation-name: anim2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

.icon-zoom {
		font-size: 1.5rem;
	}

form.search-container::after {
	/*Clearing the floats after the columns */
	content: "";
	clear: both;
	display: table;
}

#banner{
	background-color: #470550;
	text-align: center;
	border: 5px solid #6f0c7c;
}

#about{
	display:flex;
	flex-direction: column;
	margin-bottom: 90px;
	margin-top: 30px;
	align-items: center;
}

.text2{
	text-align: left;
	/*adding padding*/
	padding: 60px;
}

img{
	width: 100%;
	text-align: center;
}

.footer1 {
	/*Setting the text and background colour */
	background: #222;
	color: white;
	/* changing line height of the footer*/
	line-height: 2;
	/*adding padding*/
	padding: 20px;
}

table {
	/*setting the width of the table*/
	width: 100%;
}

table,
th,
tr,
td {
	/*adding borders to the hours table*/
	border: 1px solid white;
}

th,
td {
	/*adding padding*/
	padding: 1em 0;
}

th {
	/*setting the background colour*/
	background: black;
	/*centering the text*/
	text-align: center;
}

td {
	/*adding padding to the left*/
	padding-left: 20px;
}

.social{
	text-align: center;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
  }
  
  .fa:hover {
	opacity: 0.7;
}

.fa:active{
  animation-name: anim2;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;
  }
  
  .fa-instagram {
	background: #125688;
	color: white;
  }

  iframe {
	/*Making the map fit the width of it's container*/
	width: 100%;
	height: 500px;
  }

address{
	font-size: 1.5rem;
	text-align: center;
	border: 2px solid white;
}

footer{
	/*adding padding*/
	padding: 30px 20px;
	background: #222;
	color: white;
	border-top: 2px solid black;
}

/*___________________________________________________________________________________________
                                    Desktop Styling
_____________________________________________________________________________________________*/

@media screen and (min-width:760px) {
	.container {
		/*Setting the max and min width of the site*/
		max-width: 1280px;
		min-width: 760px;
	}

	h1 {
		/*setting the font size*/
		font-size: 4em;
	}
	
	h2 {
		/*setting the font size*/
		font-size: 3.5em;
	}
	
	h3 {
		/*setting the font size*/
		font-size: 2.5em;
		padding: 0;
	}

	.menucheck {
		display: block;
		/*float the container to the left*/
		float: left;
		/*setting the background colour*/
		background-color: #222;
		/* adding margins */
		margin: 10px;
		width: 100px;
	}

	nav{
		/*Navigation is positioned at the top of the page*/
		top: 0;
		/*Font size is increased for the navigation*/
		font-size: 1.5rem;
		/*Overflow of content is hidden*/
		overflow: hidden;
		line-height: 1.8em;
	}

	nav a {
		float: left;
		/*Places the navigation on the left*/
		padding: 10px;
		/*initial padding all around the navigation*/
		text-decoration: none;
		/*Removes the lines at the bottom of the text*/
	}

	nav a:last-child {
		border-right: none;
		/*Removing the right-most black bar on the navigation*/
	}

	li a {
		/*float the nav list to the left*/
		float: left;
		/*adding padding*/
		padding: 1em 0.7rem;
	}

	form.search-container input[type=text] {
		/*shortening the width of the searchbar*/
		width: 50%;
		padding: 1em 2.5rem;
		margin-top: 20px;
	}
	form.search-container button {
		/* adding margins to the top*/
		margin-top: 20px;
	}

	#about{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	.footer1 {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content:center;
		column-gap: 40px;
		padding: 30px 0;
		margin: 0;
	}
	
	.social{
		grid-column: 1;
		grid-row: 2;
	}
	
	.hours {
		grid-column: 1;
		grid-row: 1;
	}
	.location{
		grid-column: 2;
		grid-row: 1 / span 2;
	}
}

/*___________________________________________________________________________________________
                                    Animations
_____________________________________________________________________________________________*/

@keyframes anim1{
	0% {background-color: #470550;}
	100% {background: #C481DA;
		transform: scale(1.25); }
		
}

@keyframes anim2{
	50%{transform: scale(1.5);}
	100%{transform: scale(0.2);}
}
